<!DOCTYPE html>
<html style="background-color:#fff!important">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/pdf.css">
</head>

<body style="background-color:#fff;position:relative">{{#if is_contract}}<div class="container" id="A4"
        style="background:#fff;max-width:970px;font-family:Arial">
        <div class="A4" style="width:850px;display:table;height:1200px;position:relative">
            <div class="top_blue_strip" style="width:100%;height:10px;background-color:#0a5094"></div>
            <div class="headerLogo" style="display:flex;margin:40px 40px 0 40px">
                <div style="width:20%"><img src="{{doctor_image}}" style="max-width:100%;max-height:60px"></div>
                <div style="width:52%;font-size:27px;font-weight:700;text-align:center">
                    <p>Contrat de plan de paiement</p><img src="images/PNG/powered_by_deneftis.svg" style="width:31%">
                </div>
                <div style="margin-top:20px">
                    <p>Code du contrat:<b>{{contrat_code}}</b></p>
                    <p>État du contrat:<b>{{PAYS_STATUS}}</b></p>
                </div>
            </div>
            <div class="content" style="margin:0 40px;padding-top:10px">
                <div class="customer_details_container"
                    style="width:100%;background-color:#d9d9d9;border-radius:4px;display:flex;padding:30px">
                    <div class="customer_details" style="width:50%">
                        <p
                            style="font-weight:700;font-size:13px;letter-spacing:.04em;text-transform:uppercase;color:#767676">Facturer à</p>
                        <p style="font-size:20px;font-weight:700;margin:11px 0">{{client_name}}</p>
                        <p>{{#if is_minor}}<span style="color:#626262;border-bottom:transparent">Tuteur
                                :</span>{{Nom du gardien}} {{/ if}}</p>
                        <p>{{#if patient_email}}<span style="color:#626262;border-bottom:transparent">E-mail
                                :</span>{{patient_email}} {{/ if}}</p>
                        <p>{{#if patient_mobile}}<span style="color:#626262;border-bottom:transparent">Téléphone
                                :</span>{{patient_mobile}} {{/ if}}</p>
                        <p>{{#if date_of_birth}}<span style="color:#626262;border-bottom:transparent">Date de naissance
                                :</span>{{date_of_birth}} {{/ if}}</p>
                        <p>{{#if patient_ssn_display}}<span style="color:#626262;border-bottom:transparent">SSN
                                :</span>{{patient_ssn_display}} {{/ if}}</p>
                        <p>{{#if dl_number}}<span style="color:#626262;border-bottom:transparent">Numéro DL
                                :</span>{{dl_number}} {{/ if}}</p>
                        <p style="margin-top:15px">{{#if patient_address}}<span
                                style="color:#626262;border-bottom:transparent">Adresse
                                :</span>{{patient_address}} {{/ if}}</p>
                    </div>
                    <div class="business_details" style="width:50%">
                        <p
                            style="font-weight:700;font-size:13px;letter-spacing:.04em;text-transform:uppercase;color:#767676">Payer à</p>{{#if is_practice_details}} {{! -<p
                            style="font-size:20px;font-weight:700;margin:11px 0">{{doctor_name}}</p>--}}<p><span
                                style="color:#626262;border-bottom:transparent">Nom de l'entreprise:</span>{{pratique_name}}</p>
                        <p><span style="color:#626262;border-bottom:transparent">E-mail :</span>{{pratique_email}}</p>
                        <p><span style="color:#626262;border-bottom:transparent">Téléphone :</span>{{pratique_mobile}}</p>{{autre}} {{!--<p style="font-size:20px;font-weight:700;margin:11px 0">{{doctor_name}}</p>--}}<p>
                            <span style="color:#626262;border-bottom:transparent">E-mail :</span>{{doctor_email}}</p>
                        <p><span style="color:#626262;border-bottom:transparent">Téléphone :</span>{{doctor_mobile}}</p>{{/si}}</div>
                </div>
                <div
                    style="width:100%;border-radius:4px;border:1px solid #000;display:flex;flex-wrap:wrap;margin:30px 0 10px 0;overflow:hidden">
                    <div
                        style="width:50%;background:#0a5094;text-align:center;color:#fff;font-size:22px;border-bottom:1px solid #000;padding:15px 0">Date de paiement suivante</div>
                    <div
                        style="width:50%;background:#0a5094;text-align:center;color:#fff;font-size:22px;border-bottom:1px solid #000;padding:15px 0">Montant récurrent</div>
                    <div
                        style="width:50%;text-align:center;padding:15px 0;font-size:23px;border-right:1px solid #d7d7d7;font-weight:700">{{next_payment_date}}</div>
                    <div style="width:50%;text-align:center;padding:15px 0;font-size:23px;font-weight:700">$ {{totalrecurringamount}}<span
                            style="border-bottom:transparent;color:grey;font-size:15px;font-weight:400"><br>{{montant récurrent}}</span>
                    </div>
                </div>
                <div style="font-size:16px"><b>Remarque: Tous les paiements seront affichés comme {{instruction_descriptor}} sur
                        votre relevé bancaire / carte.</b></div>
                <h4 style="font-size:23px;font-weight:700;margin-top:20px;text-align:left">Détails du plan de paiement</h4>
                <div style="display:flex;flex-wrap:wrap;border:1px solid #000;border-radius:4px">
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Est. Service Cost</p>
                        <p style="font-size:17px;font-weight:700">{{traitement_amount}}</p>
                    </div>
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Est. Payment Plan Amount</p>
                        <p style="font-size:17px;font-weight:700">{{financée_amount}}</p>
                    </div>
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>{{#if is_arv2_partial_payment}} Paiement partiel {{else}} Payage d'acompte {{/ if}}</p>
                        <p style="font-size:17px;font-weight:700">{{montant du versement}}</p>
                    </div>{{#if is_deferred_contract}}<div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Taux d'intérêt (pendant différé)</p>
                        <p style="font-size:17px;font-weight:700">Aucun intérêt</p>
                    </div>
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p style="line-height: 1 !important; width: 105%;">Taux d'intérêt (après différé) {{#if if_applicable}} (le cas échéant) / paiement manqué / contrat édité: {{/ if}}</p>
                        <p style="font-size:17px;font-weight:700;margin-top:-8px">{{intérêt_rate}} 
                            {{#if is_deferred_contract_1}}
                            {{autre}}
                                {{#if is_compounded_intest}}<sup>C</sup>{{autre}}<sup>F</sup>{{/si}}
                            {{/si}}</p>
                    </div>{{autre}}<div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Taux d'intérêt</p>
                        <p style="font-size:17px;font-weight:700">{{intérêt_rate}} {{#if check_intest}} {{#if
                            IS_COMPOUNDED_INTEREST}}<sup>C</sup>{{autre}}<sup>F</sup>{{/si}}
                            {{/si}}</p>
                    </div>{{/si}}<div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Nombre total de paiements</p>
                        <p style="font-size:17px;font-weight:700">{{nombre_of_payments}}</p>
                    </div>{{#if is_deferred_contract}}<div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Durée différée</p>
                        <p style="font-size:17px;font-weight:700">{{Deferred_Duration}}</p>
                    </div>{{/si}}<div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Montant de paiement des clients</p>
                        <p style="font-size:17px;font-weight:700">{{patient_payoff_amount}}</p>
                    </div>
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Solde total</p>
                        <p style="font-size:17px;font-weight:700">{{montant restant}}</p>
                    </div>
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Date d'inscription</p>
                        <p style="font-size:17px;font-weight:700">{{date_added}}</p>
                    </div>
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Date de début récurrente</p>
                        <p style="font-size:17px;font-weight:700">{{date de début}}</p>
                    </div>
                    <div
                        style="width:20%;padding:10px 13px 14px 18px;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:112px;display:flex;flex-direction:column;justify-content:flex-end">
                        <p>Paiements restants</p>
                        <p style="font-size:17px;font-weight:700">{{resing_payments}}</p>
                    </div>
                </div>
                <div style="text-align:right;margin-top:12px;color:grey">F: intérêt fixe, c: intérêt composé</div>
                <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 5rem">
                    <div style="width:100%;display:flex;justify-content:space-between">
                        <div
                            style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">Contrat conclu à distance
                                    sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                    style="font-size:12px;font-weight:400"><span
                                        style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">Contrat conclu en fonction
                                    sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                    style="font-size:12px;font-weight:400"><span
                                        style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                                <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                                <p style="font-size: 12px;color:grey">Signature du client</p>
                            </div>{{/si}}</div>
                    <div>
                        <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                            {{pratique_name}} ||   
                            {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                            {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                    </div>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <div></div>
                <p style="width:fit-content;color:grey">Page 1 de {{total_pages}}</p>
            </div>
        </div>{{#if is_service_record_or_payments}}<div class="A4"
            style="page-break-before:always;height:1200px;width:850px;display:table;position:relative">
            <div class="top_blue_strip" style="width:100%;height:10px;background-color:#0a5094"></div>
            <div class="headerLogo" style="display:flex;margin:40px 40px 0 40px">
                <div style="width:20%"><img src="{{doctor_image}}" style="max-width:100%;max-height:60px"></div>
                <div style="width:52%;font-size:27px;font-weight:700;text-align:center">
                    <p>Contrat de plan de paiement</p><img src="images/PNG/powered_by_deneftis.svg" style="width:31%">
                </div>
                <div style="margin-top:20px">
                    <p>Code du contrat:<b>{{contrat_code}}</b></p>
                    <p>État du contrat:<b>{{PAYS_STATUS}}</b></p>
                </div>
            </div>
            <div class="content" style="height:1045px">{{#if is_service_record}}<h5
                    style="font-size:23px;font-weight:700;margin-top:20px;text-align:left">Détails des coûts de service</h5>{{/si}}
                {{#if is_service_record}}<div
                    style="display:flex;flex-wrap:wrap;border:1px solid #000;border-radius:4px">
                    <div style="background:#0a5094;width:100%;display:flex;color:#fff">
                        <div style="width:20%;padding:18px">S. Non</div>
                        <div
                            style="width:60%;padding:18px;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7">Service</div>
                        <div style="width:20%;padding:18px">Prix</div>
                    </div>{{#each ServiceCord}}<div class="serviceTable"
                        style="width:100%;display:flex;flex-wrap:wrap">
                        <div style="width:20%;padding:18px">{{indice}}</div>
                        <div
                            style="width:60%;padding:18px;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;word-break:break-all">{{service}}</div>
                        <div style="width:20%;padding:18px;word-break:break-all">{{prix}}</div>
                    </div>{{/chaque}}</div>{{/si}}
                {{#if show_first_page_payments}}<div>
                    <h4 style="font-size:23px;font-weight:700;margin-top:20px;text-align:left">Détails de paiement</h4>
                    <div
                        style="width:100%;margin-top:20px;border-radius:4px;background-color:#fff;padding:0;border:1px solid #000">
                        <table style="border-collapse:collapse;width:100%">
                            <thead>
                                <tr style="font-size:12px;color:#fff;background:#0a5094">{{#if from_business}}<th
                                        style="padding:18px;text-align:left;font-size:14px;font-weight:normalborder-right: 1px solid #d7d7d7">Date récurrente</th>{{/si}}<th
                                        style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">Date de transaction</th>
                                    <th
                                        style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">Statut</th>
                                    <th
                                        style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">Type de paiement</th>
                                    <th style="padding:18px;text-align:left;font-size:14px;font-weight:400">Transaction
                                        Montant</th>
                                </tr>
                            </thead>
                            <tbody>{{#each firstPagePayments}}<tr
                                    style="font-size:18px;color:#000;border-top:1px solid #d7d7d7">{{#if from_business}}<th
                                        style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{PAYS_DATE}}</th>{{/si}}<th
                                        style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{date_added}}</th>
                                    <th
                                        style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{PAYS_STATUS}}</th>
                                    <th
                                        style="padding:18px;text-align:left;text-transform:capitalize;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{pt_name}}</th>
                                    <th
                                        style="padding:18px;text-align:left;text-transform:capitalize;font-size:14px;font-weight:400">{{montant déduit}}</th>
                                </tr>{{/chaque}}</tbody>
                        </table>
                    </div>{{#if is_only_one_payment_pages}}<div style="margin-top:5px;font-size:16px"><b>Remarque: tous les
                            Les paiements seront affichés en tant que {{Statement_Descriptor}} sur votre instruction bancaire / carte.</b>
                    </div>{{/si}}</div>{{/si}}</div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 81px">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey">Contrat établi à distance sur</span><b>{{date_added}} à
                                {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span style="color:grey">Contracter
                                fait au bureau
                                sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                            <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                            <p style="font-size: 12px;color:grey">Signature du client</p>
                        </div>{{/si}}</div>
                <div>
                    <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                        {{pratique_name}} ||   
                        {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                        {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <div></div>
                <p style="width:fit-content;color:grey">Page 2 de {{total_pages}}</p>
            </div>
        </div>{{/si}}
        {{#if is_payment_pages}} {{#each PaysPages}}<div class="A4"
            style="page-break-before:always;height:1200px;width:850px;display:table;position:relative">
            <div class="top_blue_strip" style="width:100%;height:10px;background-color:#0a5094"></div>
            <div class="headerLogo" style="display:flex;margin:40px 40px 0 40px">
                <div style="width:20%"><img src="{{doctor_image}}" style="max-width:100%;max-height:60px"></div>
                <div style="width:52%;font-size:27px;font-weight:700;text-align:center">
                    <p>Contrat de plan de paiement</p><img src="images/PNG/powered_by_deneftis.svg" style="width:31%">
                </div>
                <div style="margin-top:20px">
                    <p>Code du contrat:<b>{{contrat_code}}</b></p>
                    <p>État du contrat:<b>{{PAYS_STATUS}}</b></p>
                </div>
            </div>
            <div class="content" style="height:1045px">
                <h4 style="font-size:23px;font-weight:700;margin-top:20px;text-align:left">Détails de paiement</h4>
                <div
                    style="width:100%;margin-top:20px;border-radius:4px;background-color:#fff;padding:0;border:1px solid #000">
                    <table style="border-collapse:collapse;width:100%">
                        <thead>
                            <tr style="font-size:12px;color:#fff;background:#0a5094">{{#if from_business}}<th
                                    style="padding:18px;text-align:left;font-size:14px;font-weight:normalborder-right: 1px solid #d7d7d7">Date récurrente</th>{{/si}}<th
                                    style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">Date de transaction</th>
                                <th
                                    style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">Statut de paiement</th>
                                <th
                                    style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">Type de paiement</th>
                                <th style="padding:18px;text-align:left;font-size:14px;font-weight:400">Transaction
                                    Montant</th>
                            </tr>
                        </thead>
                        <tbody>{{#each Payments}}<tr style="font-size:18px;color:#000;border-top:1px solid #d7d7d7">{{#if from_business}}<th
                                    style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{PAYS_DATE}}</th>{{/si}}<th
                                    style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{date_added}}</th>
                                <th
                                    style="padding:18px;text-align:left;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{PAYS_STATUS}}</th>
                                <th
                                    style="padding:18px;text-align:left;text-transform:capitalize;font-size:14px;font-weight:400;border-right:1px solid #d7d7d7">{{pt_name}}</th>
                                <th
                                    style="padding:18px;text-align:left;text-transform:capitalize;font-size:14px;font-weight:400">{{montant déduit}}</th>
                            </tr>{{/chaque}}</tbody>
                    </table>
                </div>{{#if is_only_one_payment_pages}}<div style="margin-top:5px;font-size:16px"><b>Remarque: tous les
                        Les paiements seront affichés en tant que {{Statement_Descriptor}} sur votre instruction bancaire / carte.</b></div>{{/si}}</div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 81px">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey">Contrat établi à distance sur</span><b>{{date_added}} à
                                {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span style="color:grey">Contracter
                                fait au bureau
                                sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                            <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                            <p style="font-size: 12px;color:grey">Signature du client</p>
                        </div>{{/si}}</div>
                <div>
                    <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                        {{pratique_name}} ||   
                        {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                        {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <div></div>
                <p style="width:fit-content;color:grey">Page {{current_page}} de {{total_pages}}</p>
            </div>
        </div>{{/ chacun}} {{/ de}} {{! - {{#si ne pas télécharger_by_admin}} -}}<div class="A4"
            style="page-break-before:always;height:1200px;width:850px;display:table;position:relative">
            <div class="top_blue_strip" style="width:100%;height:10px;background-color:#0a5094"></div>
            <div class="content" style="margin:0 40px">
                <h4 style="font-size:23px;font-weight:700;margin-top:50px;text-align:left">Besoin d'aide avec</h4>
                <ul class="helpPage">
                    <li>Modifier / modifier votre date de paiement</li>{{!--<li>Modifier / annuler votre contrat</li>--}}<li>Payer ensuite
                        paiement récurrent</li>
                    <li>Ajouter ou modifier votre source de paiement</li>
                    <li>Payant le montant de votre contrat de course</li>
                    <li>Paiement partiel</li>
                    <li>Signaler un problème?<br><span
                            style="font-size:14px;color:grey;border-bottom:none;font-weight:400">Envoyer un courriel à<span
                                style="color:#0a5094;border-bottom:none">support@denefits.com</span>ou signaler un problème
                            via l'application Denefits</span></li>
                </ul>
                <h4 style="font-size:21px;font-weight:700;margin-top:20px;text-align:left;color:#0a5094"><b>Désintégrale
                        Application client</b>est le<b>Solution à guichet</b>Pour tous vos problèmes liés au plan de paiement.</h4>
                <p style="margin-top:21px;font-size:18px">Scanner pour télécharger l'application et laisser Denefits résoudre tous vos
                    requêtes en quelques clics.</p>
                <div style="display:flex;flex-direction:column;align-items:center;margin-top:60px">{{!-- {{#si
                    téléchargement_by_doctor}} -}} {{! -<img src="/images/PNG/QR_doctor_app.svg" style="width:166px">-}}
                    {{!-- {{autre}} --}}<img src="images/PNG/QR_denefits_App.svg" style="width:166px">{{!-- {{/si}}

                    -}}<h4
                        style="font-size:26px;font-weight:700;margin:20px 0 27px 0;text-align:left;width:max-content">Scan to Download App</h4>
                    <div style="display:flex;justify-content:space-between;width:310px">{{!-- {{#si
                        téléchargement_by_doctor}}<a
                            href="https://play.google.com/store/apps/details?id=bhct.denefits.doctor">
                            <div
                                style="width:147px;font-size:10px;color:#fff;height:47px;background:#1e4468;border-radius:4px;padding:7px 6px">
                                <img src="/images/PNG/playstore.png" style="width:24px;margin:3px 11px;float:left">
                                <p style="text-decoration:underline;text-decoration-color:#1e4468">Se lancer<br><span
                                        style="border-bottom:none;font-size:15px">Google Play</span></p>
                            </div>
                        </a><a href="https://apps.apple.com/us/app/denefits/id1253338581">
                            <div
                                style="width:147px;font-size:10px;color:#fff;height:47px;background:#1e4468;border-radius:4px;padding:7px 6px">
                                <img src="/images/PNG/apple_app_store.png"
                                    style="width:22px;margin:3px 11px;float:left">
                                <p style="text-decoration:underline;text-decoration-color:#1e4468">Télécharger sur
                                    le<br><span style="border-bottom:none;font-size:15px">App Store</span></p>
                            </div>
                        </a>{{autre}} --}}<a href="https://play.google.com/store/apps/details?id=bhct.denefits.patient">
                            <div
                                style="width:147px;font-size:10px;color:#fff;height:47px;background:#1e4468;border-radius:4px;padding:7px 6px">
                                <img src="images/PNG/playstore.png" style="width:24px;margin:3px 11px;float:left">
                                <p style="text-decoration:underline;text-decoration-color:#1e4468">Se lancer<br><span
                                        style="border-bottom:none;font-size:15px">Google Play</span></p>
                            </div>
                        </a><a href="https://apps.apple.com/us/app/denefits-patient/id1386620496?ls=1">
                            <div
                                style="width:147px;font-size:10px;color:#fff;height:47px;background:#1e4468;border-radius:4px;padding:7px 6px">
                                <img src="images/PNG/apple_app_store.png"
                                    style="width:22px;margin:3px 11px;float:left">
                                <p style="text-decoration:underline;text-decoration-color:#1e4468">Télécharger sur
                                    le<br><span style="border-bottom:none;font-size:15px">App Store</span></p>
                            </div>
                        </a>{{!-- {{/si}}
                        -}}</div><a href="https://www.denefits.com/" style="text-decoration:none">
                        <p style="font-size:19px;color:#0a5094;margin-top:11px;width:fit-content">www.denefits.com</p>
                    </a>
                </div>
            </div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 5rem">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contrat établi à distance sur</span><b>{{date_added}}
                                à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contracter
                                fait au bureau sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#si
                            show_ip}}<br><label style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                            <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                            <p style="font-size: 12px;color:grey">Signature du client</p>
                        </div>{{/si}}</div>
                <div>
                    <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                        {{pratique_name}} ||   
                        {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                        {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <img src="images/PNG/powered_by_deneftis.svg" style="width:145px">
                <p style="width:fit-content;color:grey">Page {{next_page. [0]}} de {{total_pages}}</p>
            </div>
        </div>{{!-- {{/si}} --}}</div>{{/si}}
    {{#if is_show_closure_form}}<div class="main-container" id="A4"
        style="background:#fff;max-width:970px;font-family:Poppins,sans-serif;font-size:14px">
        <div class="A4" style="page-break-before:always;height:1200px;width:850px;margin:auto">
            <div class="content">
                <div class="outer-wrapper">
                    <p class="watermark">{{pratique_name}}</p>
                    <div class="inner-wrapper">
                        <div class="row-full text-center">
                            <h1>Énoncé de divulgation Tila<p class="py-3" style="font-size:16px!important">TRANCHE
                                    Contrat de plan de paiement</p>
                            </h1>
                        </div>
                        <div class="row-full d-flex row-top" style="border-bottom:1px solid #000">
                            <div class="row-half" style="border-right:1px solid #000">
                                <div class="col" style="border-bottom:1px solid #000"><label>Date de
                                        Accord:</label><span>{{date_added}}</span></div>
                                <div class="col"><label>Entreprise:</label><span>{{issuer_name}}</span></div>
                                <div class="col"><label>Adresse de la rue:</label><span>{{issuer_address}}</span></div>
                                <div class="col"><label>Ville, État:</label><span>{{issuer_city_address}}</span></div>
                                <div class="col"><label>Contacter Email:</label><span
                                        style="word-break:break-all">{{issuer_email}}</span></div>
                            </div>
                            <div class="row-half">
                                <div class="col" style="border-bottom:1px solid #000"><label>Contracter
                                        Nombre:</label><span>{{contrat_code}}</span></div>
                                <div class="col"><label>Nom du client:</label><span
                                        style="text-transform:capitalize">{{client_name}}</span></div>
                                <div class="col"><label>Adresse de la rue:</label><span>{{patient_only_address}}</span>
                                </div>
                                <div class="col"><label>Ville, État:</label><span>{{city}} {{state_name}} {{zip}}</span>
                                </div>
                                <div class="col"><label>Téléphone
                                        Nombre:</label><span>{{patient_mobile_formatted}}</span></div>
                                <div class="col" style="margin-bottom:5px">
                                    <label>E-mail:</label><span>{{patient_email}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row-full d-flex row-top" style="border-bottom:1px solid #000">
                            <div class="row-half">
                                <div class="col"><label>Serviceur:</label><span>Denefits LLC</span></div>{{!--<div class="col"><label>Adresse de la rue:</label><span>16500 Bake Pkwy</span></div>--}}<div class="col"><label>Ville, État:</label><span>Irvine, comme 92618</span></div>
                                <div class="col"><label>Contacter Email:</label><span
                                        style="word-break:break-all">support@denefits.com</span></div>
                            </div>
                        </div>
                        <div class="row-full row-cal" style="padding:15px">{{#if is_deferred_contract}}<div class="col-one-fifth" style="border:1px solid #000;padding:10px;border-right:0">
                                <label>Taux d'intérêt (pendant différé)</label>
                                <p></p>{{!--<p>Le coût de votre crédit comme taux annuel.</p>--}}<div
                                    style="width:90%;float:left;font-weight:600;font-size:19px">Aucun intérêt</div>
                            </div>

                             <div class="col-one-fifth" style="border:1px solid #000;padding:10px;border-right:0">
                                <label>Taux d'intérêt (après différé)</label>{{#if if_applicable}}<p>(Le cas échéant) / Paiement manqué / Contrat édité:</p>{{/si}}<p></p>{{!--<p>Le coût de votre crédit comme taux annuel.</p>--}}<div
                                    style="width:90%;float:left;font-weight:600;font-size:19px">{{intérêt_rate}} 
                                    {{#if is_deferred_contract_1}}
                                    {{autre}}
                                        {{#if is_compounded_intest}}<sup>C</sup>{{autre}}<sup>F</sup>{{/si}}
                                    {{/si}}</div>
                            </div>{{autre}}<div class="col-one-fifth" style="border:1px solid #000;padding:10px;border-right:0">
                                <label>Taux de pourcentage annuel</label>
                                <p></p>{{!--<p>Le coût de votre crédit comme taux annuel.</p>--}}<div
                                    style="width:90%;float:left;font-weight:600;font-size:19px">{{intérêt_rate}} 
                                    {{#if is_deferred_contract_1}}
                                    {{autre}}
                                        {{#if is_compounded_interest}}<sup>C</sup>{{autre}}<sup>F</sup>{{/si}}
                                    {{/si}}</div>
                            </div>{{/si}}<div class="col-one-fifth" style="border:1px solid #000;padding:10px;border-right:0">
                                <label>Frais de financement</label>{{!--<p>Le montant en dollars que le crédit vous coûtera.</p>--}}<p></p>
                                <div style="width:95%;float:right;font-weight:600;padding-left:5px;font-size:19px">{{intéressant_charged}}</div>
                            </div>
                            <div class="col-one-fifth" style="border:1px solid #000;padding:10px;border-right:0">
                                <label>Montant financé</label>{{!--<p>Le montant du crédit qui vous est fourni ou sur votre
                                    au nom de.</p>--}}<p></p>
                                <div style="width:95%;float:right;font-weight:600;padding-left:5px;font-size:19px">{{financée_amount}}</div>
                            </div>
                            <div class="col-one-fifth" style="border:1px solid #000;padding:10px;border-right:0">
                                <label>Total des paiements</label>
                                <p>Le montant que vous aurez payé après avoir effectué tous les paiements prévus.</p>
                                <div style="width:95%;float:right;font-weight:600;padding-left:5px;font-size:19px">{{total_payable_amount}}</div>
                            </div>{{#if is_deferred_contract}}
                            {{autre}}<div class="col-one-fifth" style="border:1px solid #000;padding:10px"><label>{{#si
                                    IS_ARV2_PARTIAL_PAYMENT}} Paiement partiel {{else}} Payage d'acompte {{/ if}}</label>
                                <p>Le montant que vous paierez à la création de contrats.</p>
                                <div style="width:95%;float:right;font-weight:600;padding-left:5px;font-size:19px">{{montant du versement}}</div>
                            </div>{{/si}}</div>
                        <div class="row-full d-flex row-pay align-center" style="padding:15px;padding-top:0">
                            <div class="col-one-fourth">
                                <p style="margin:0;width:100%;line-height:16px;font-size:14px;font-weight:600">Ton
                                    Le calendrier de paiement sera:</p>
                            </div>
                            <div class="col-one-fourth"><label>Nombre de paiements</label>
                                <div class="cont">{{nombre_of_payments}}</div>
                            </div>{{#if is_deferred_contract}}<div class="col-one-fourth"><label>Paiement mensuel (pendant
                                    Différé)</label>
                                <div class="cont">{{récurrente_amount_with_transaction}}</div>
                            </div>
                            <div class="col-one-fourth"><label>Paiement mensuel (après différé)</label>
                                <div class="cont">{{next_recurring_amount_with_transaction}}</div>
                            </div>
                             <span>{{autre}}</span>
                            <div class="col-one-fourth">{{#if is_pay_using_credee}}<label style="border-right:1px solid #000;">Paiement hebdomadaire</label>
                                <div class="cont" style="border-right:1px solid #000;">{{récurrente_amount_with_transaction}}</div>{{autre}}<label>Paiement mensuel</label>
                                <div class="cont">{{récurrente_amount_with_transaction}}</div>{{/si}}</div>
                           <span>{{/si}}</span>{{#if is_pay_using_credee}}<span></span>{{autre}}<div class="col-one-fourth"><label style="border-right:1px solid #000">Quand
                                    Les paiements sont dus</label>
                                <div class="cont" style="border-right:1px solid #000">{{reurring_date}} {{#if
                                    reurring_date}} de chaque mois {{/ if}}</div>
                            </div>{{/si}}</div>
                        <div class="row-full row-cont">
                            <div class="cont-wrap"><label>CHARGE TARD:</label><span>Si un paiement est dû à un ou plusieurs jours, des frais de $ {{frais de retard}} seront imposés pour chaque paiement en retard.</span></div>
                            <div class="cont-wrap"><label>Prépaiement:</label><span>Si vous remboursez le solde de votre
                                    Contrat tôt, vous ne serez pas soumis à une pénalité de remboursement anticipé. Tu seras seulement
                                    Intérêt accusé qui s'est accumulé à la date du remboursement anticipé.</span></div>
                            <div class="cont-wrap"><label style="min-width:10px!important">F:</label><span>Fixé
                                    Intérêt</span><label style="min-width:10px!important">C:</label><span>Composé
                                    Intérêt</span></div>{{!--<div class="cont-wrap"><label>Sécurité:</label><span>Toi
                                    donnent une sûreté</span><span class="text">{{fixe_flat_fee}}</span>
                            </div>--}} {{!--<small>Consultez vos documents de contrat pour toute information supplémentaire sur
                                non-paiement, par défaut, tout remboursement requis en totalité avant la date prévue, et
                                remboursements et pénalités de prépaiement.</small>--}}</div>
                        <div class="row-full d-flex row-cont-second">
                            <div class="row-half">
                                <div class="cont-wrap"><label style="font-size:18px;font-weight:600">Votre contrat à un
                                        coup d'oeil:</label></div>
                                <div class="cont-wrap"><label></label><span class="text"
                                        style="border-bottom:1px solid #000">{{traitement_amount}}</span><span
                                        style="margin-left:15px">Montant de service</span></div>
                                <div class="cont-wrap"><label></label><span class="text"
                                        style="border-bottom:1px solid #000">{{montant du versement}}</span><span
                                        style="margin-left:15px">{{#if is_arv2_partial_payment}} Paiement partiel
                                        Montant {{else}} Montant de paiement {{/ if}}</span></div>
                                <div class="cont-wrap"><label></label><span class="text"
                                        style="border-bottom:1px solid #000">{{financée_amount}}</span><span
                                        style="margin-left:15px">Montant principal</span></div>
                                <div class="cont-wrap"><label></label><span class="text"
                                        style="border-bottom:1px solid #000">{{intérêt_charged_deferred}}</span><span
                                        style="margin-left:15px">Intérêt total</span></div>
                                <div class="cont-wrap"><label></label><span class="text"
                                        style="border-bottom:1px solid #000">{{Advance_interest_amount}}</span><span
                                        style="margin-left:15px">Paiement initial</span></div>
                                <div class="cont-wrap"><label></label><span class="text"
                                        style="border-bottom:1px solid #000">{{transaction_fee_payment}}</span><span
                                        style="margin-left:15px">Frais par transaction</span></div>
                                <div class="cont-wrap"><label></label><span class="text"
                                        style="border-bottom:1px solid #000">{{inscriptionfee}}</span><span
                                        style="margin-left:15px">Frais d'inscription</span></div>{{!--<div class="cont-wrap">
                                    <label></label><span class="text">{{financée_amount}}</span><span>Montant
                                        Financé</span>
                                </div>--}}</div>
                            <div class="row-half text-center">
                                <h3 class="head">Il s'agit d'un contrat de plan de paiement de versement. Ce n'est pas un prêt.
                                       <br><br>Il est de votre responsabilité de revoir les termes et conditions de
                                    Ce contrat avant de signer. Vous avez droit à une copie du contrat signé.</h3>
                            </div>
                        </div>
                        <div>{{#if is_service_record_small}}<h4 style="padding-top:10px">Répartition des coûts de service</h4>
                            <h4 class="row-half">Service</h4>
                            <h4 class="row-half">Prix</h4>{{#each ServiceCord}}<div class="row-half">
                                <div class="block" style="height:50px;word-break:break-all"><span>{{service}}</span>
                                </div>
                            </div>
                            <div class="row-half">
                                <div class="block" style="height:50px;word-break:break-all"><span>{{prix}}</span></div>
                            </div>{{/ chacun}} {{/ if}}</div>
                    </div>
                </div>
            </div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 5rem">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contrat établi à distance sur</span><b>{{date_added}}
                                à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contracter
                                fait au bureau sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#si
                            show_ip}}<br><label style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                            <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                            <p style="font-size: 12px;color:grey">Signature du client</p>
                        </div>{{/si}}</div>
                <div>
                    <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                        {{pratique_name}} ||   
                        {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                        {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <img src="images/PNG/powered_by_deneftis.svg" style="width:145px">
                <p style="width:fit-content;color:grey">Page {{next_page. [1]}} de {{total_pages}}</p>
            </div>
        </div>{{#if is_service_record_large}}<div class="A4"
            style="page-break-before:always;height:1200px;width:850px;margin:auto">
            <div class="content">
                <div class="outer-wrapper">
                    <p class="watermark">{{pratique_name}}</p>
                    <div class="inner-wrapper">
                        <div>
                            <h4 style="padding-top:10px">Répartition des coûts de service</h4>
                            <h4 class="row-half">Service</h4>
                            <h4 class="row-half">Prix</h4>{{#each ServiceCord}}<div class="row-half">
                                <div class="block" style="height:30px;word-break:break-all"><span>{{service}}</span>
                                </div>
                            </div>
                            <div class="row-half">
                                <div class="block" style="height:30px;word-break:break-all"><span>{{prix}}</span></div>
                            </div>{{/chaque}}</div>
                    </div>
                </div>
            </div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 5rem">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contrat établi à distance sur</span><b>{{date_added}}
                                à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contracter
                                fait au bureau sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#si
                            show_ip}}<br><label style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                            <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                            <p style="font-size: 12px;color:grey">Signature du client</p>
                        </div>{{/si}}</div>
                <div>
                    <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                        {{pratique_name}} ||   
                        {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                        {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <img src="images/PNG/powered_by_deneftis.svg" style="width:145px">
                <p style="width:fit-content;color:grey">Page {{next_page. [2]}} de {{total_pages}}</p>
            </div>
        </div>{{/si}}<div class="A4" style="page-break-before:always;height:1200px;width:850px;margin:auto">
            <div class="content">
                <div class="outer-wrapper">
                    <p class="watermark">{{pratique_name}}</p>
                    <div class="inner-wrapper">
                        <div class="row-full row-content">
                            <h4 class="head">Chèque de crédit</h4>
                            <p class="desc">Denefits ne procédera pas à une vérification de crédit dans le cadre du présent accord.
                                Cependant, votre fournisseur de services peut vérifier votre crédit avant de vous permettre de demander un
                                Compte.</p>
                            <h4 class="head">Rapport de crédit</h4>
                            <p class="desc">Vos activités de paiement peuvent être signalées aux bureaux de crédit. Si votre
                                Le paiement est dû à 30 jours, il peut être signalé comme délinquant aux bureaux de crédit. Le
                                L'entreprise doit apparaître comme le créancier d'origine sur votre rapport de crédit.</p>
                            <h4 class="head">Paiements et frais</h4>
                            <p class="desc"><strong>Paiement initial:</strong>Un paiement initial sera tenu de
                                Créez le contrat, comme spécifié à la page 1 de la divulgation TILA. Dans le cas où le
                                Le montant du service contractuel est augmenté, le paiement initial peut être ajusté en conséquence.
                                Le paiement initial est non remboursable après trois (3) jours ouvrables à compter de la date de la
                                contracter.</p>
                            <p class="desc"><strong>Frais d'inscription:</strong>Lors de la création du contrat, vous devez
                                être facturé des frais d'inscription non remboursables uniquement comme spécifié à la page 1 de TILA
                                Divulgation.</p>
                            <p class="desc"><strong>Frais de transaction:</strong>Le client doit être facturé une transaction
                                Frais sur chaque paiement, comme spécifié à la page 1 de la divulgation TILA.</p>
                            <p class="desc"><strong>Paiement Date d'échéance Frais de modification:</strong>Vous pouvez changer votre échéance mensuelle
                                Date à une date ultérieure si votre compte est à jour et que votre premier paiement a été effectué.
                                Toutes les conditions générales de votre contrat restent en vigueur jusqu'à ce que votre compte soit
                                payé en totalité. Pour votre protection, nous pouvons confirmer votre identité dans le cadre de la date d'échéance
                                Processus de modification. Le changement de date d'échéance de paiement peut être effectué pendant un maximum de 15 jours et jusqu'à 5
                                fois au cours de la durée de vie du contrat, sous réserve des conditions fournies dans le client
                                Contrat de service avec l'entreprise. Vous serez responsable du paiement de ces frais, comme
                                spécifié dans l'annexe A. Il n'y a aucun frais pour changer la date d'échéance à une date antérieure.</p>
                            <h4 class="head">Structure de paiement</h4>
                            <p class="desc"><strong>Taux d'intérêt:</strong>Les clients acceptent expressément l'intérêt
                                taux spécifié à la page 1 de la divulgation de TILA.</p>
                            <p class="desc"><strong>Descripteur de déclaration:</strong>Tous les paiements doivent apparaître
                                comme<b>{{instruction_descriptor}}</b>sur le relevé bancaire / carte du client.</p>
                            <div class="row-full row-content">
                                <h3 class="table-heading-lg">Tarifs, frais et informations de paiement</h3>
                                <div class="table-heading-sm">Comment l'intérêt est calculé</div>
                                <table class="cont-table">
                                    <tr>
                                        <td style="width:15%" valign="top">Votre taux d'intérêt</td>
                                        <td style="width:85%" valign="top">Votre taux d'intérêt est calculé en fonction de
                                            le montant financé et la durée du contrat.</td>
                                    </tr>
                                    <tr>
                                        <td style="width:15%" valign="top">Quand nous facturons l'intérêt</td>
                                        <td style="width:85%" valign="top">Nous facturerons l'intérêt à partir de la date à laquelle vous vous inscrivez
                                            pour le plan de paiement.</td>
                                    </tr>{{!--<tr>
                                        <td style="width:15%" valign="top">Comment nous calculons l'intérêt</td>
                                        <td style="width:85%" valign="top">Nous calculons les frais d'intérêt sur votre
                                            contrat au moment de la création. Nous le faisons en appliquant un intérêt composé
                                            sur le montant financier. Quel que soit l'intérêt calculé de la durée du contrat
                                            Il est également distribué sur le paiement récurrent chaque mois. So principal
                                            et les intérêts payés restent les mêmes chaque mois. Une partie de l'intérêt est
                                            Pris par Denefits comme paiement initial. Si la durée du contrat est moindre
                                            Plus de 13 mois, l'intérêt fixe est applicable. Si la durée du contrat est
                                            Plus ou égal à 13 mois, l'intérêt composé est applicable. Note:
                                            L'intérêt fixe est calculé uniquement sur le montant de la finance. En cas de social ou
                                            Le paiement partiel est reçu, il va au montant récurrent. Nous divisons le
                                            paiement effectué par les conditions restantes ou les paiements restants et donc la réduction du
                                            montant récurrent.</td>
                                    </tr>--}}</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 5rem">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contrat établi à distance sur</span><b>{{date_added}}
                                à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contracter
                                fait au bureau sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#si
                            show_ip}}<br><label style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                            <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                            <p style="font-size: 12px;color:grey">Signature du client</p>
                        </div>{{/si}}</div>
                <div>
                    <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                        {{pratique_name}} ||   
                        {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                        {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <img src="images/PNG/powered_by_deneftis.svg" style="width:145px">
                <p style="width:fit-content;color:grey">Page {{next_page. [3]}} de {{total_pages}}</p>
            </div>
        </div>
        <div class="A4" style="page-break-before:always;height:1200px;width:850px;margin:auto">
            <div class="content">
                <div class="outer-wrapper">
                    <p class="watermark">{{pratique_name}}</p>
                    <div class="inner-wrapper">
                        <div class="row-full row-content">{{!--<h3 class="table-heading-lg">Tarifs, frais et paiement
                                INFORMATION</h3>
                            <div class="table-heading-sm">Comment l'intérêt est calculé</div>--}}<table class="cont-table"
                                style="margin-top:30px">{{!--<tr>
                                    <td style="width:15%" valign="top">Votre taux d'intérêt</td>
                                    <td style="width:85%" valign="top">Votre taux d'intérêt est calculé en fonction du
                                        Montant financé et la durée du contrat.</td>
                                </tr>
                                <tr>
                                    <td style="width:15%" valign="top">Quand nous facturons l'intérêt</td>
                                    <td style="width:85%" valign="top">Nous facturerons l'intérêt à partir de la date à laquelle vous vous inscrivez
                                        le plan de paiement.</td>
                                </tr>--}}<tr>
                                    <td style="width:15%" valign="top">Comment nous calculons l'intérêt<td style="width:85%" valign="top">Nous calculons les frais d'intérêt sur votre contrat
                                        au moment de la création. Nous le faisons en appliquant des intérêts composés sur la finance
                                        montant. Quel que soit l'intérêt calculé de la durée du contrat, il est également
                                        Distribué sur le paiement récurrent chaque mois. Donc le principal et les intérêts payés
                                        reste le même chaque mois.
                                        {{#if is_deferred_contract_1}} {{else}} 
                                        Une partie des intérêts est prise par Denefits en tant que paiement initial. 
                                        {{/ si}}
                                        Si la durée du contrat est inférieure à 13 mois, alors fixe
                                        l'intérêt est applicable. Si la durée du contrat est supérieure ou égale à 13
                                        mois, l'intérêt des composés est applicable. Remarque: l'intérêt fixe est calculé sur
                                        le montant financier uniquement. Dans le cas où le paiement social ou partiel est reçu, il va
                                        au montant récurrent. Nous divisons le paiement effectué par les conditions restantes ou
                                        les paiements restants et donc réduisant le montant récurrent.</td>
                                </tr>
                            </table>
                            <h4 class="head text-center">Consentement aux communications électroniques</h4>
                            <p class="desc">En demandant un compte, vous consentez par la présente à recevoir
                                Communications, y compris le courrier électronique, les messages texte et les notifications push, sur votre
                                Compte. Votre consentement réussi via l'application en ligne ou mobile démontre que vous
                                peuvent accéder aux informations publiées sur cette application en ligne ou mobile.</p>
                            <h4 class="head">Catégories de communications</h4>
                            <p class="desc">Vous consentez à recevoir toutes les communications liées à votre compte dans
                                formulaire électronique, y compris mais sans s'y limiter, (i) l'énoncé de divulgation initial ou
                                accord régissant votre compte, (ii) toute divulgation requise par le fédéral, l'État ou
                                Loi locale, y compris celles en vertu de la loi sur la vérité dans les prêts, la loi sur les rapports de crédit, la loi,
                                Loi sur l'égalité des chances de crédit et les dispositions financières de la vie privée de la
                                GRAMM-Leach-Bliley Act, (iii) Déclats de facturation, si vous vous êtes inscrit à l'électronique
                                déclarations, lettres, avis ou alertes concernant votre compte et toute modification de votre
                                Compte, (iv) d'autres divulgations, avis ou communications en relation avec le
                                Application pour, l'ouverture de, la maintenance ou la collecte de votre compte. Ces
                                Les communications électroniques peuvent inclure votre nom et quelques informations sur votre compte,
                                y compris votre solde ou la date d'échéance; Cependant, nous n'inclurons jamais votre social
                                numéro de sécurité. Les communications électroniques peuvent être examinées par toute partie ayant accès à
                                Votre compte, l'adresse e-mail que vous nous avez fournie pour les livrer
                                communications, ou le matériel ou le logiciel que vous utilisez pour afficher les informations de votre compte ou
                                Votre adresse e-mail.</p>
                            <h4 class="head">Comment retirer votre consentement</h4>
                            <p class="desc">Vous ne pouvez pas postuler en ligne pour un compte ou enregistrer votre compte pour en ligne
                                Services à moins que vous ne donniez le consentement à recevoir des communications électroniques. Si vous avez
                                inscrit pour les services en ligne et souhaiter retirer votre consentement pour recevoir un avenir
                                Communications électroniques, vous devez vous insuffler à partir de chaque service que vous avez élu à
                                recevoir pour retirer complètement votre consentement.</p>
                            <p class="desc">Nous n'imposerons aucun frais pour traiter le retrait de votre consentement à
                                Communications électroniques. Cependant, vous ne pourrez pas recevoir votre facturation
                                déclarations électroniquement si vous ne consentez pas à recevoir des communications électroniques ou
                                retirez votre consentement. Tout retrait de votre consentement aux communications électroniques
                                Soyez effectif uniquement après que nous ayons une période raisonnable pour traiter votre retrait
                                demande.</p>
                            <h4 class="head">Comment mettre à jour vos enregistrements</h4>
                            <p class="desc">Vous acceptez de mettre à jour rapidement votre adresse e-mail, votre numéro de téléphone et
                                Adresse si une modification se produit en mettant à jour vos informations via le site Web répertorié sur
                                Votre déclaration de facturation ou en appelant le service client.</p>
                            <h4 class="head">Communications par écrit</h4>
                            <p class="desc">Toutes les communications en format électronique ou papier à vous
                                être considéré comme «par écrit». Il est de votre responsabilité d'imprimer ou de télécharger une copie de
                                Ce consentement, l'accord de compte, l'accord d'annulation de la dette (s'il est élu) et
                                Toute autre communication électronique qui est importante pour vous pour vos dossiers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 5rem">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contrat établi à distance sur</span><b>{{date_added}}
                                à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{autre}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contracter
                                fait au bureau sur</span><b>{{date_added}} à {{contrat_time}}</b>{{#si
                            show_ip}}<br><label style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>{{/si}}</label>{{/si}}</div>{{#if Signature patient}}<div style="text-align:right;max-width:35%;">
                            <img src="{{patient_signature}}" id="signImg" style="height:60px; max-width:100%;" />
                            <p style="font-size: 12px;color:grey">Signature du client</p>
                        </div>{{/si}}</div>
                <div>
                    <p style="font-size:12px;font-weight:400;color:grey">{{#if is_practice_details}}
                        {{pratique_name}} ||   
                        {{pratique_mobile}} ||    {{pratique_email}} {{else}}
                        {{doctor_mobile}} ||    {{doctor_email}} {{/ if}}</p>
                </div>
            </div>
            <div
                style="border-top:1px solid #000;position:absolute;width:100%;bottom:0;padding:10px 60px;display:flex;justify-content:space-between">
                <img src="images/PNG/powered_by_deneftis.svg" style="width:145px">
                <p style="width:fit-content;color:grey">Page {{next_page. [4]}} de {{total_pages}}</p>
            </div>
        </div>
        <div class="A4" style="page-break-before:always;height:1200px;width:850px;margin:auto">
            <div class="content">
                <div class="outer-wrapper">
                    <p class="watermark">{{pratique_name}}</p>
                    <div class="inner-wrapper">
                        <div class="row-full row-content">
                            <h4 class="head">Signatures électroniques</h4>
                            <p class="desc">Vous reconnaissez qu'en cliquant sur le bouton «Soumettre» ou similaire, vous êtes
                                indiquant votre intention de vous inscrire aux communications électroniques et que cela doit
                                constituent votre signature.</p>
                            <h4 class="head">Loi fédérale</h4>
                            <p class="desc">Vous reconnaissez et acceptez que votre consentement est fourni en relation
                                avec une transaction affectant le commerce interétatique qui est soumis au fédéral
                                Signatures électroniques en loi sur le commerce mondial et national, et que vous et nous tous les deux
                                Contention que la loi s'applique dans toute la mesure du possible pour valider notre capacité à
                                Effectuer des affaires et communiquer avec vous par des moyens électroniques.</p>
                            <p class="desc">En acceptant ce document, vous reconnaissez que vous avez lu et
                                Comprenez les termes de cet accord et que vous avez l'intention d'être légalement lié par eux.</p>
                            <h4 class="head text-center" style="margin-bottom:5px!important">Avis de votre financier
                                Droits à la vie privée</h4>
                            <p class="desc"><strong>Restriction de l'accès aux informations non publiques</strong></p>
                            <p class="desc">Nous vous informions par la présente que l'accès à vos informations personnelles non publiques est
                                limité à nos employés qui ont besoin de ces informations pour vous fournir notre
                                produits ou services. Nous maintenons les garanties physiques, électroniques et procédurales comme
                                Nos régulateurs requis pour assurer la sécurité de vos informations personnelles.</p>
                            <p class="desc"><strong>Informations à des tiers non affiliés</strong></p>
                            <p class="desc">Conformément à notre engagement à maintenir la confidentialité de votre
                                informations personnelles, nous affirmons par la présente que nous ne divulguerons pas votre non-public
                                Informations personnelles à des tiers non affiliés, sauf le cas échéant par la loi.</p>
                            <h4 class="head text-center">Dispositions standard</h4>{{!--<h4 class="head">Sur le
                                Contrat de versement</h4>--}}<div>
                                <p class="desc"><strong>Parties:</strong>Cet accord («l'accord») est conclu
                                    entre une entreprise ("entreprise") et vous, une personne qui cherche à obtenir des services
                                    de l'entreprise ("client" ou "vous").</p>
                                <p class="desc"><strong>Entreprise:</strong>Le terme "entreprise" est défini comme la personne,
                                    entité ou entreprise fournissant des services au client qui s'est inscrit dans un
                                    Plan de paiement avec Denefits.</p>
                                <p class="desc"><strong>Plan de paiement de versement:</strong>Denefits fournit un
                                    Plan de paiement de versement pour simplifier et rendre le processus de paiement pratique pour
                                    toi. Dans le cas où vous rencontrez des difficultés financières, la première étape
                                    est de tendre la main à Denefits pour voir comment nous pouvons vous aider.</p>
                                <p class="desc"><strong>Conditions du plan de paiement des versions:</strong>Les conditions de paiement qui
                                    s'appliquera à ce contrat sera spécifiquement énuméré et accepté par vous en
                                    le formulaire que vous remplissez lorsque vous acceptez d'obtenir un plan de paiement à versement à partir de
                                    Entreprise.</p>
                            </div>
                            <h4 class="head">Comment utiliser votre compte</h4>
                            <p class="desc"><strong>Utilisation du compte:</strong>Le compte qui vous est fourni par les désinfises
                                ne doit être utilisé qu'à des fins légales et conformément au présent accord.<p class="desc"><strong>Obligations de paiement:</strong>Vous serez responsable du paiement de tous
                                montants dus en vertu du présent accord. En utilisant les services, vous promettez de payer pour tous
                                Accusations engagées en vertu du présent accord.</p>
                            <p class="desc"><strong>Responsabilité du compte:</strong>Vous ne permettrez aucun autre
                                personne pour utiliser votre compte. Tout frais résultant de l'utilisation de votre compte par un
                                Le tiers sera votre seule responsabilité de payer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;position:absolute;bottom:30px;left:0;padding:12px 5rem">
                <div style="width:100%;display:flex;justify-content:space-between">
                    <div
                        style="width:max-content;width:max-content;display:flex;flex-direction:column;justify-content:center">{{#if de_split}}<label style="font-size:12px;font-weight:400"><span
                                style="color:grey;border-bottom:none">Contrat établi à distance sur</span><b>{{date_added}}
                                à {{contrat_time}}</b>{{#if show_ip}}<br><label
                                style="font-size:12px;font-weight:400"><span
                                    style="color:grey;border-bottom:none">IP:</span><b>{{ip_address}}</b></label>